.DS_Store
.idea
deepdream.pem
deepdream.pub
_scratch
node_modules
dist/OSMBuildings/*
dist/OSMBuildings*

src/Shaders.min.js
lib/GLX.debug.js

build/temp

# backup files
*~

# JavaScript source maps
*.js.map 

# Docs
out
