@font-face {
  font-family: "Museo500";  
  src: local('Museo300-Regular'), 
  url("MuseoSansRounded-500.otf") format('opentype');  
  font-weight: normal;  
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Museo500",'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  overflow: hidden;
}
a{
  text-decoration: none;
}
header{
  height:117px;
  position: relative;
  background: #fff;
  box-shadow: 0 5px 5px rgba(0,0,0,.04);
  display: table;
  width: 100%;
}
header > div{
  display: table-cell;
  vertical-align: middle;
}
.wrapper {
  width: 1140px;
  margin: auto;
  position: relative;
  overflow: hidden;
}
#logo{
  width:200px;
  height:40px;
  float: left;
  display: inline-block;
}
#logo img{
  width: auto;
  vertical-align: bottom;
  max-width: 100%;
  height: auto;
}
#main-menu{
  position: relative;
  float: right;
  line-height: 44px;
}
#main-menu ul{
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block;
  float: left;
}
.top-menu > li{
  display: inline-block;
  position: relative;
  float: left;
  margin-left: 45px;
}
.top-menu > li:first-child{
  margin-left: 0;
}
.top-menu a {
  color: #585858;
  display: block;
  font-size: 16px;
}
.top-menu > li.selected > a {
  color: #EF493F;
  border-bottom-color: #EF493F;
}
.selectType{
  float: left;
  padding: 0 30px;
}
.selectType label{
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
}
#selectType{
  font-size: 16px;
}
#map {
  width: 100%;
  position: absolute;
  top: 117px;
  bottom: 0;
}

.map_legend{
  position: absolute;
  top: 117px;
  left: -150px;
  width: 150px;
  z-index: 1000;
  background: rgba(255,255,255,.5);
  -webkit-transition: left 200ms cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -moz-transition: left 200ms cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -o-transition: left 200ms cubic-bezier(0.000, 0.000, 0.580, 1.000);
  transition: left 200ms cubic-bezier(0.000, 0.000, 0.580, 1.000);
}
.map_legend.show{
  left:0;
}

.temp{
  background: #FFF;
  border: 5px solid #FFF;
  border-radius: 15px;
  width: 20px;
  height: 400px;
  position: relative;
  margin: 15px auto;
  background: linear-gradient(to top, 
    hsl(160,100%,68%) 0%,
    hsl(128,100%,68%) 20%,
    hsl(96,100%,68%) 40%,
    hsl(64,100%,68%) 60%,
    hsl(32,100%,68%) 80%,
    hsl(1,100%,68%) 100%);
}
.current_pointer{
  display: none;
  position: absolute;
  color: #FFF;
  text-align: center;
  line-height: 40px;
  font-size: 14px;
  width: 145px;
  height: 40px;
  left: 10px;
  top: 100px;
  mask: url(#arrowmask);
  -webkit-mask-box-image: url(nrg_arrow.png);
  background: url('nrg_arrow_outline.png');

  -webkit-transition: top 200ms cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -moz-transition: top 200ms cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -o-transition: top 200ms cubic-bezier(0.000, 0.000, 0.580, 1.000);
  transition: top 200ms cubic-bezier(0.000, 0.000, 0.580, 1.000);
}
.high,
.low{
  background: rgba(255,255,255,.75);
  line-height: 30px;
  text-align: center;
  width: 150px;
  padding: 15px 0;
}

.osmb-container {
}

.osmb-attribution {
    position:absolute;
    right:0;
    bottom:0;
    padding:1px 3px;
    background:rgba(255,255,255,0.5);
    font:11px sans-serif;
    z-index: 10;
}

.osmb-attribution a {
    text-decoration:none;
    color:#0078A8;
}

.osmb-attribution a:visited {
    text-decoration:none;
    color:#0078A8;
}

.osmb-attribution a:hover {
    text-decoration:underline;
    color:#0078A8;
}

#details{
  position: absolute;
  right: -25%;
  top: 117px;
  bottom: 0;
  z-index: 1100;
  width: 25%;
  background: #FFF;
  overflow-y: auto;
  -webkit-transition: right 200ms cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -moz-transition: right 200ms cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -o-transition: right 200ms cubic-bezier(0.000, 0.000, 0.580, 1.000);
  transition: right 200ms cubic-bezier(0.000, 0.000, 0.580, 1.000);
} 
#details.show{
  right: 0;
}
#details a{
  color: #329d7b;
}
#details div{
  overflow: hidden;
}

#details .container{
  padding: 30px 20px;
  border-bottom: 1px solid #f1f1f1;
}

#details h2,
#details h3,
#details .ped p{
  color: #585858;
  margin: 0;
  padding: 0;
}
#details .ped{
  display: none;
}
#details .ped h3{
  color: #fb804d;
  margin: 0.5rem 0;
  font-size: 48px;
}
#details .ped h3 span{
  font-size: 24px;
}
#details .ped p span{
  color: #fb804d;
}
#details .ecm_data{
  display: none;
}
#details .ecm_data ul{
  line-height: 24px;
}
#details .ecm_data a{
  color: #FFF;
  background: #000;
  border-radius: 10px;
  padding: 15px;
  display: inline-block;
}
#details .ecm_no_data{
  border: 2px dashed #979797;
  border-radius: 15px;
  background: #f1f1f1;
  padding: 15px;
}
#details .buildingType,
#details .isItYours{
  background: #f1f1f1;
  line-height: 24px;
  font-size: 15px;
  padding: 0 15px;
  overflow: hidden;
}
#details .buildingType p{
  float: left;
}
#details .close_details{
  float: right;
  margin: 0;
  padding: 16px 0 16px 15px;
  line-height: 24px;
  font-size: 16px;
  background: none;
  border: none;
  border-left: 1px solid #dfdfdf;
}
#details .building_detail{
  max-height: 600px;
  overflow-y:auto; 
}
#details table{
  width: 100%;
  margin-top:15px;
  border-collapse:collapse;
}
#details table tr{
  background: #dfdfdf;
}
#details td{
  font-size: 12px;
  padding: 5px;
}
#details table tr:nth-child(even) {
  background: #FFF;
}
#detail_list{
  display: none;
}